{:kotoba.app/id "cloud.itonami.isic-1399", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreidjezetvhw6wanqifuejptqotao5sotbtwqslgb33alrhdnfy2j4e", :kotoba.app/embed-url "ipfs://bafkreidjezetvhw6wanqifuejptqotao5sotbtwqslgb33alrhdnfy2j4e", :published {:archive "https://kotobase.net/ipfs/bafkreidjezetvhw6wanqifuejptqotao5sotbtwqslgb33alrhdnfy2j4e", :size 73182, :put-status 201, :get-status 200, :at "2026-08-15T13:33:14.945Z"}}
