{:kotoba.app/id "cloud.itonami.isic-1399", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreiffeq7arx2hz54vox535b7n5ouuymss53qikk65nycuc7ik74wdmq", :kotoba.app/embed-url "ipfs://bafkreiffeq7arx2hz54vox535b7n5ouuymss53qikk65nycuc7ik74wdmq", :published {:archive "https://kotobase.net/ipfs/bafkreiffeq7arx2hz54vox535b7n5ouuymss53qikk65nycuc7ik74wdmq", :size 73302, :put-status 201, :get-status 200, :at "2026-08-15T13:52:34.042Z"}}
